/* Geral do Site */
html
{
	background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
	background-repeat: no-repeat;
	height: 100%;
}
body 
{
	
   	font-family: 'Roboto', sans-serif;
    color: #000000;
	margin: 0px;
	padding: 0px;

}
.botao 
{
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #8f3faf;
    font-size: .9em;
    border-radius: 3px;
}
/* Menu de Navegação */
nav ul
{
	background: transparent;
	overflow: hidden;
	color: #fff;
	padding: 0px;
	text-align: center;
}
nav ul li
{
	margin-right: 20px;
	margin-left: 0px;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 40px;
	transition: all 0.8s ease 0s;
}
nav ul li a
{
	text-decoration: none;
	color: black;
	padding: 20px;
}
nav ul li:hover
{
	border-radius: 10px;
	background-image: linear-gradient(90deg, rgba(31,181,212,1) 35%, rgba(254,254,254,1) 72%);
	transform: scale(1.1);
}
nav h1
{
	width:200px;
	float: left;
	cursor: pointer;
}
nav img
{
	padding-left:600px;
	width: 50%;
	height:auto;
   	cursor: default;
}
/* Slides */
.slides
{
	padding-top: 30px;
	margin-left: 25% !important;
}
.slides ul
{
	list-style: none;
}
.slides img
{
	width: 984px;
	height: 474px;
}
/* Produtos */
.caixa-produtos
{
	padding: 0;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	overflow: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 100px;
	box-sizing: border-box;
	list-style: none;
}
.caixa-produtos .produtos
{
	overflow: auto;
	padding: 5px 5px 40px 5px;
	position: relative;
}
/* Rodapé */
.footer
{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
}
.footer .footeresquerda p
{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}
.footer p.footerbotoes
{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}
.footer p.footerbotoes a
{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer .footerdireita
{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}
.footer .footerdireita a
{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}
